# Challenge: Promotions

In this challenge, you'll develop codes to parse and analyze data returned from another API on Zalando such as [Promos homme (Men's Promotions)
](https://www.zalando.fr/promo-homme/) or [Promos femme (Women's Promotions)](https://www.zalando.fr/promo-femme/). The workflow is almost the same as in the guided lesson but you'll work with different data.

## Obtaining the link

Wrote your codes in the cell below to obtain the data from the API endpoint you choose. A recap of the workflow:

1. Examine the webpages and choose one that you want to work with.

1. Use Google Chrome's DevTools to inspect the XHR network requests. Find out the API endpoint that serves data to the webpage.

1. Test the API endpoint in the browser to verify its data.

1. Change the page number offset of the API URL to test if it's working.

In [9]:
# your code here
import requests

url = "https://api.bitso.com/v3/available_books/"

response = requests.get(url)
results = response.json()
response

In [18]:
import requests

url = "https://rapidapi.p.rapidapi.com/auto-complete"

querystring = {"q":"tesla","region":"US"}

headers = {
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
    'x-rapidapi-key': "b0c1559f8bmshd42c0af0e3ad872p183a73jsn84668fdebaa7"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{"explains":[],"count":15,"quotes":[{"exchange":"NMS","shortname":"Tesla, Inc.","quoteType":"EQUITY","symbol":"TSLA","index":"quotes","score":603698.0,"typeDisp":"Equity","longname":"Tesla, Inc.","isYahooFinance":true},{"exchange":"GER","shortname":"TESLA INC. DL -,001","quoteType":"EQUITY","symbol":"TL0.DE","index":"quotes","score":20600.0,"typeDisp":"Equity","longname":"Tesla, Inc.","isYahooFinance":true},{"exchange":"MEX","shortname":"TESLA INC","quoteType":"EQUITY","symbol":"TSLA.MX","index":"quotes","score":20462.0,"typeDisp":"Equity","longname":"Tesla, Inc.","isYahooFinance":true},{"exchange":"FRA","shortname":"TESLA INC. DL -,001","quoteType":"EQUITY","symbol":"TL0.F","index":"quotes","score":20317.0,"typeDisp":"Equity","longname":"Tesla, Inc.","isYahooFinance":true},{"exchange":"SAO","shortname":"TESLA INC   DRN EB","quoteType":"EQUITY","symbol":"TSLA34.SA","index":"quotes","score":20119.0,"typeDisp":"Equity","longname":"Tesla, Inc.","isYahooFinance":true},{"exchange":"BUE","shortname":"TESLA INC","quoteType":"EQUITY","symbol":"TSLA.BA","index":"quotes","score":20055.0,"typeDisp":"Equity","longname":"Tesla, Inc.","isYahooFinance":true},{"exchange":"PNK","shortname":"TESLA EXPLORATION LTD","quoteType":"EQUITY","symbol":"TXLZF","index":"quotes","score":20047.0,"typeDisp":"Equity","longname":"Tesla Exploration Ltd.","isYahooFinance":true}],"news":[{"uuid":"b413cec8-ce6e-3294-a263-aab662864638","title":"Tesla Raises Capex Guidance, Plans Outlay Of Up To $12B Over 2 Years","publisher":"Benzinga","link":"https://finance.yahoo.com/news/tesla-raises-capex-guidance-plans-175118977.html","providerPublishTime":1603734678,"type":"STORY"},{"uuid":"da0e3349-491b-337d-88b0-10f7de235acc","title":"Tesla Knocks Q3 Earnings Out of the Park","publisher":"Motley Fool","link":"https://finance.yahoo.com/m/da0e3349-491b-337d-88b0-10f7de235acc/tesla-knocks-q3-earnings-out.html","providerPublishTime":1603744740,"type":"STORY"},{"uuid":"0c37394b-995a-3cdc-9253-46ba0c75b97f","title":"Tesla Inc. stock outperforms market despite losses on the day","publisher":"MarketWatch","link":"https://finance.yahoo.com/m/0c37394b-995a-3cdc-9253-46ba0c75b97f/tesla-inc.-stock-outperforms.html","providerPublishTime":1603745940,"type":"STORY"},{"uuid":"24d5d844-a448-3135-85c8-e297782fac04","title":"Tesla Will Export 7,000 Cars From China to Europe This Week","publisher":"Motley Fool","link":"https://finance.yahoo.com/m/24d5d844-a448-3135-85c8-e297782fac04/tesla-will-export-7%2C000-cars.html","providerPublishTime":1603718400,"type":"STORY"},{"uuid":"6dbb219c-975e-36ed-841f-7149b8dc2038","title":"Tesla Shipping 7,000 China-Made Model 3s to Europe","publisher":"TheStreet.com","link":"https://finance.yahoo.com/m/6dbb219c-975e-36ed-841f-7149b8dc2038/tesla-shipping-7%2C000.html","providerPublishTime":1603716360,"type":"STORY"},{"uuid":"8c6c890f-6269-3698-8343-0e8ea1abe702","title":"Tesla’s Third-Quarter 10-Q SEC Filing Is Out. Here’s the Takeaway.","publisher":"Barrons.com","link":"https://finance.yahoo.com/m/8c6c890f-6269-3698-8343-0e8ea1abe702/tesla%E2%80%99s-third-quarter-10-q.html","providerPublishTime":1603722960,"type":"STORY"},{"uuid":"1223c132-01b3-303e-9e41-2a714341f246","title":"Tesla Stock Is Still Missing This One Lucrative Thing","publisher":"Investor's Business Daily","link":"https://finance.yahoo.com/m/1223c132-01b3-303e-9e41-2a714341f246/tesla-stock-is-still-missing.html","providerPublishTime":1603712116,"type":"STORY"},{"uuid":"2920a84c-6825-3cec-b05a-a8d32fa3361e","title":"EV Maker Signs a Delivery Deal, Avoiding Dealerships","publisher":"Barrons.com","link":"https://finance.yahoo.com/m/2920a84c-6825-3cec-b05a-a8d32fa3361e/ev-maker-signs-a-delivery.html","providerPublishTime":1603747320,"type":"STORY"}],"nav":[],"lists":[],"researchReports":[],"totalTime":34,"timeTakenForQuotes":410,"timeTakenForNews":600,"timeTakenForAlgowatchlist":400,"timeTakenForPredefinedScreener":400,"timeTakenForCrunchbase":0,"timeTakenForNav":400,"timeTakenForResearchReports":0}

In [22]:
data = pd.DataFrame(response)

In [23]:
data.head()

                                                   0
0  b'{"explains":[],"count":15,"quotes":[{"exchan...
1  b'otes","score":603698.0,"typeDisp":"Equity","...
2  b'INC. DL -,001","quoteType":"EQUITY","symbol"...
3  b'c.","isYahooFinance":true},{"exchange":"MEX"...
4  b'core":20462.0,"typeDisp":"Equity","longname"...

In [21]:
data = json_normalize(results)
data

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

,explains,count,quotes,news,nav,lists,researchReports,totalTime,timeTakenForQuotes,timeTakenForNews,timeTakenForAlgowatchlist,timeTakenForPredefinedScreener,timeTakenForCrunchbase,timeTakenForNav,timeTakenForResearchReports
0,[],15,"[{'exchange': 'NMS', 'shortname': 'Tesla, Inc....",[{'uuid': 'b413cec8-ce6e-3294-a263-aab66286463...,[],[],[],34,410,600,400,400,0,400,0

In [17]:
def flatten(data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data
nested_columns = []
 
#flat = flatten(data, nested_columns)
#flat.head()

## Reading the data

In the next cell, use Python to obtain data from the API endpoint you chose in the previous step. Workflow:

1. Import libraries.

1. Define the initial API endpoint URL.

1. Make request to obtain data of the 1st page. Flatten the data and store it in an empty object variable.

1. Find out the total page count in the 1st page data.

1. Use a FOR loop to make requests for the additional pages from 2 to page count. Append the data of each additional page to the flatterned data object.

1. Print and review the data you obtained.

## Bonus

Extract the following information from the data:

* The trending brand.

* The product(s) with the highest discount.

* The sum of discounts of all goods (sum_discounted_prices divided by sum_original_prices).

In [ ]:
# your code here