In [ ]:
pip install pymongo

In [1]:
from pymongo import MongoClient

In [3]:
client = MongoClient('localhost')

In [10]:
print(db.client.list_database_names())

['admin', 'config', 'local']

In [5]:
db = client['prueba']

In [11]:
col = db['personas']

In [12]:
print(db.client.list_database_names())

['admin', 'config', 'local']

In [13]:
col.insert_one({'edad':20,'nombre':'ivan','interes':'sjsjsj'})

In [14]:
print(col.count_documents({}))

1

In [15]:
print(client.list_database_names())

['admin', 'config', 'local', 'prueba']

In [16]:
import json

In [20]:
db = client["companies"]
collection_currency = db["companies"]

with open("companies.json") as f:
    file_data = json.load(f)

    collection_currency.insert(file_data)
    client.close()

JSONDecodeError: Extra data: line 2 column 1 (char 11283)

In [40]:
from pymongo import *
import json
def importacion_json():
    
    print ("\nSe conectara al Servidor de Base de Datos Local.")
    conexion = MongoClient('localhost') #La conexion sera local
    #Variable de referencia de la base de datos.
    ndb = 'prueba'
    db = conexion[ndb] #Conexion a la db
    #Variable de referencia a la coleccion que se usara.
    col = "personas"
    coleccion = db[col]
    #Variable que contendra la ruta del archivo .json
    archivo = 'companies.json'

    print ("\nLos datos ingresados son:")
    print ("Base de datos: " + str(db))
    print ("Coleccion: " + str(coleccion))
    print ("Ruta del archivo .json: " + str(archivo))
    #respuesta = raw_input("\nEstos datos son correctos? (s/n): ")
    #if respuesta == "s":
    #Abriendo el archivo con la funcion open()
    f = open(str(archivo), 'r')
    #Recorriendo las lineas del archivo
    for linea in f:
    #Insertando los registros en la DB 
        dic = json.loads(linea) #Crea los diccionarios a partir del string linea
        coleccion.insert(dic)
    #Cerramos el archivo
    f.close()
    print ("\nSe han importado los datos exitosamente!")
    #else:
        #print ("\nAccion Cancelada.")

In [28]:
import os

In [42]:
dic = json.loads('companies.json')

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [43]:
print(db.client.list_database_names())

['admin', 'config', 'ironhack', 'local', 'prueba']

In [44]:
col = db['ironhack']

In [49]:
print(col.count_documents({}))

18801

In [47]:
db = client['ironhack']

In [48]:
col = db['companies']

In [ ]:
for i in col.

In [56]:
p = col.find_one()

In [65]:
type(p)

dict

In [66]:
type(col)

pymongo.collection.Collection

In [ ]:
companies = json.load(col)

In [67]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [71]:
r = json_normalize(p)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [96]:
col

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'companies')

In [88]:
r.category_code

0    enterprise
Name: category_code, dtype: object

In [89]:
r.description

0    Server Management Software
Name: description, dtype: object

In [94]:
r

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,video_embeds,screenshots,external_links,partners,image.available_sizes
0,52cdef7c4bab8bd675297d8b,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600,...,[],None,[],"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],"[[[150, 55], assets/images/resized/0001/9732/1..."

In [101]:
doc = col.find_one({'_id':'52cdef7c4bab8bd675297d8b'})

In [102]:
doc

In [103]:
r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _id                    1 non-null      object
 1   name                   1 non-null      object
 2   permalink              1 non-null      object
 3   crunchbase_url         1 non-null      object
 4   homepage_url           1 non-null      object
 5   blog_url               1 non-null      object
 6   blog_feed_url          1 non-null      object
 7   twitter_username       1 non-null      object
 8   category_code          1 non-null      object
 9   number_of_employees    1 non-null      int64
 10  founded_year           1 non-null      int64
 11  deadpooled_year        1 non-null      int64
 12  tag_list               1 non-null      object
 13  alias_list             1 non-null      object
 14  email_address          1 non-null      object
 15  phone_number           1 non-null      object
 16  description            1 non-null      object
 17  created_at             1 non-null      datetime64[ns]
 18  updated_at             1 non-null      object
 19  overview               1 non-null      object
 20  products               1 non-null      object
 21  relationships          1 non-null      object
 22  competitions           1 non-null      object
 23  providerships          1 non-null      object
 24  total_money_raised     1 non-null      object
 25  funding_rounds         1 non-null      object
 26  investments            1 non-null      object
 27  acquisition            0 non-null      object
 28  acquisitions           1 non-null      object
 29  offices                1 non-null      object
 30  milestones             1 non-null      object
 31  video_embeds           1 non-null      object
 32  screenshots            1 non-null      object
 33  external_links         1 non-null      object
 34  partners               1 non-null      object
 35  image.available_sizes  1 non-null      object
dtypes: datetime64[ns](1), int64(3), object(32)
memory usage: 416.0+ bytes

In [118]:
companies = client.companies

In [119]:
companies

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'companies')

In [121]:
companies.collection_names()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  """Entry point for launching an IPython kernel.

[]

In [126]:

#
list(col.find({},{'name':1}))

In [144]:
oficinas = col.find({'offices':{'$not':{'$size':0}}},
                         {'name':1,'_id':1, 'offices':1,
                         'category_code':1,'total_money_raised':1,
                         'number_of_employees':1,'products':1,'total_money_raised':1})

In [145]:
o = list(oficinas)

In [253]:
len(o)

13744

In [146]:
o[1]

{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
 'name': 'Wetpaint',
 'category_code': 'web',
 'number_of_employees': 47,
 'products': [{'name': 'Wikison Wetpaint', 'permalink': 'wetpaint-wiki'},
  {'name': 'Wetpaint Social Distribution System',
   'permalink': 'wetpaint-social-distribution-system'}],
 'total_money_raised': '$39.8M',
 'offices': [{'description': '',
   'address1': '710 - 2nd Avenue',
   'address2': 'Suite 1100',
   'zip_code': '98104',
   'city': 'Seattle',
   'state_code': 'WA',
   'country_code': 'USA',
   'latitude': 47.603122,
   'longitude': -122.333253},
  {'description': '',
   'address1': '270 Lafayette Street',
   'address2': 'Suite 505',
   'zip_code': '10012',
   'city': 'New York',
   'state_code': 'NY',
   'country_code': 'USA',
   'latitude': 40.7237306,
   'longitude': -73.9964312}]}

In [147]:
data = pd.DataFrame(o)

In [149]:
data['products'].head()

0                                                   []
1    [{'name': 'Wikison Wetpaint', 'permalink': 'we...
2    [{'name': 'Zoho Office Suite', 'permalink': 'z...
3              [{'name': 'Digg', 'permalink': 'digg'}]
4    [{'name': 'Omnidrive', 'permalink': 'omnidrive'}]
Name: products, dtype: object

In [150]:
data.isna().sum()

_id                       0
name                      0
category_code           652
number_of_employees    6277
products                  0
total_money_raised        0
offices                   0
dtype: int64

In [151]:
data.head()

,_id,name,category_code,number_of_employees,products,total_money_raised,offices
0,52cdef7c4bab8bd675297d8b,AdventNet,enterprise,600.0,[],$0,"[{'description': 'Headquarters', 'address1': '..."
1,52cdef7c4bab8bd675297d8a,Wetpaint,web,47.0,"[{'name': 'Wikison Wetpaint', 'permalink': 'we...",$39.8M,"[{'description': '', 'address1': '710 - 2nd Av..."
2,52cdef7c4bab8bd675297d8c,Zoho,software,1600.0,"[{'name': 'Zoho Office Suite', 'permalink': 'z...",$0,"[{'description': 'Headquarters', 'address1': '..."
3,52cdef7c4bab8bd675297d8d,Digg,news,60.0,"[{'name': 'Digg', 'permalink': 'digg'}]",$45M,"[{'description': None, 'address1': '135 Missis..."
4,52cdef7c4bab8bd675297d8f,Omnidrive,network_hosting,NaN,"[{'name': 'Omnidrive', 'permalink': 'omnidrive'}]",$800k,"[{'description': '', 'address1': 'Suite 200', ..."

In [153]:
lista_n = list(data['name'])

In [154]:
lista_c = [json_normalize(i) for i in data['offices']]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [252]:
len(lista_n)

13744

In [155]:
zip_nombre_df = list(zip(lista_n,lista_c))

In [175]:
len(zip_nombre_df) == len(data['name'])

True

In [176]:
zip_nombre_df[0]

('AdventNet',
     description          address1   address2 zip_code        city state_code  \
 0  Headquarters  4900 Hopyard Rd.  Suite 310    94588  Pleasanton         CA

   country_code   latitude   longitude company_name
 0          USA  37.692934 -121.904945    AdventNet  )

In [178]:
for i,e in zip_nombre_df:
    print(i,e)
    break

AdventNet     description          address1   address2 zip_code        city state_code  \
0  Headquarters  4900 Hopyard Rd.  Suite 310    94588  Pleasanton         CA

  country_code   latitude   longitude company_name
0          USA  37.692934 -121.904945    AdventNet

In [192]:
len(lista_c)

13744

In [185]:
data2 = pd.DataFrame(zip_nombre_df)

In [191]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13744 entries, 0 to 13743
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       13744 non-null  object
 1   1       13744 non-null  object
dtypes: object(2)
memory usage: 214.9+ KB

In [172]:
item

,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,company_name
0,,,,,Birmingham,AL,USA,33.518885,-86.816068,EnteGreat Solutions

In [193]:
data

                         0                                                  1
0                AdventNet      description          address1   address2 z...
1                 Wetpaint    description              address1    address...
2                     Zoho      description         address1   address2 zi...
3                     Digg    description            address1 address2 zip...
4                Omnidrive    description   address1         address2 zip_...
...                    ...                                                ...
13739               Oriact    description       address1 address2 zip_code...
13740               Adhunk       description               address1     ad...
13741           AfterLogic    description       address1 address2 zip_code...
13742            EnteGreat    description                       address1  ...
13743  EnteGreat Solutions    description address1 address2 zip_code      ...

[13744 rows x 2 columns]

In [199]:
lista_c[0]['company_name']

0    AdventNet
Name: company_name, dtype: object

In [200]:
data3 = lista_c[0]

In [201]:
data3

,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,company_name
0,Headquarters,4900 Hopyard Rd.,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945,AdventNet

In [208]:
for i in range(len(lista_c)):
    data3 = pd.concat([data3,lista_c[i]], axis = 0)

In [206]:
data3 = pd.concat([data3,lista_c[1]], axis = 0)

In [214]:
data3['company_name'].value_counts()

Google                      67
OCLC                        32
Buongiorno                  25
The Orchard                 25
Duane Morris LLP            24
                            ..
Sabrix                       1
Metacafe                     1
LingusTV                     1
Realtime Applications        1
Teresis Media Management     1
Name: company_name, Length: 13123, dtype: int64

In [213]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16709 entries, 0 to 0
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   description   14914 non-null  object
 1   address1      16492 non-null  object
 2   address2      16306 non-null  object
 3   zip_code      16500 non-null  object
 4   city          16609 non-null  object
 5   state_code    10041 non-null  object
 6   country_code  16709 non-null  object
 7   latitude      10838 non-null  float64
 8   longitude     10838 non-null  float64
 9   company_name  16709 non-null  object
dtypes: float64(2), object(8)
memory usage: 1.4+ MB

In [218]:
data['category_code'].value_counts()

web                 2812
software            2387
games_video          839
mobile               821
advertising          794
other                730
enterprise           654
consulting           540
ecommerce            534
network_hosting      510
public_relations     429
hardware             345
biotech              338
search               287
cleantech            273
semiconductor        150
security             147
analytics             65
finance               49
social                46
news                  45
education             32
music                 32
messaging             30
travel                25
medical               25
health                23
photo_video           21
legal                 21
manufacturing         19
sports                12
fashion               10
automotive             9
real_estate            9
hospitality            8
transportation         7
nanotech               5
design                 4
nonprofit              3
local                  1
government             1
Name: category_code, dtype: int64

In [220]:
data3

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16709 entries, 0 to 0
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   description   14914 non-null  object
 1   address1      16492 non-null  object
 2   address2      16306 non-null  object
 3   zip_code      16500 non-null  object
 4   city          16609 non-null  object
 5   state_code    10041 non-null  object
 6   country_code  16709 non-null  object
 7   latitude      10838 non-null  float64
 8   longitude     10838 non-null  float64
 9   company_name  16709 non-null  object
dtypes: float64(2), object(8)
memory usage: 1.4+ MB

In [222]:
data.info(
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13744 entries, 0 to 13743
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   _id                  13744 non-null  object
 1   name                 13744 non-null  object
 2   category_code        13092 non-null  object
 3   number_of_employees  7467 non-null   float64
 4   products             13744 non-null  object
 5   total_money_raised   13744 non-null  object
 6   offices              13744 non-null  object
 7   Name                 13744 non-null  object
dtypes: float64(1), object(7)
memory usage: 859.1+ KB

In [225]:
comp  =data3.set_index('company_name')

In [227]:
comp
#bueno

,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude
company_name,,,,,,,,,
AdventNet,Headquarters,4900 Hopyard Rd.,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
AdventNet,Headquarters,4900 Hopyard Rd.,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
Wetpaint,,710 - 2nd Avenue,Suite 1100,98104,Seattle,WA,USA,47.603122,-122.333253
Wetpaint,,270 Lafayette Street,Suite 505,10012,New York,NY,USA,40.723731,-73.996431
AdventNet,Headquarters,4900 Hopyard Rd.,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
...,...,...,...,...,...,...,...,...,...
Oriact,,LÃ¤rchenweg 7,,6403,KÃ¼ssnacht,None,CHE,47.088219,8.437163
Adhunk,Indian Office,Near Tube Well(south),Patel Nagar,334003,Bikaner,None,IND,NaN,NaN
AfterLogic,Livingston,P.O. Box 2096,,07039,Livingston,NJ,USA,40.793024,-74.323554
EnteGreat,,1900 International Park Drive,Suite 200,35243-4204,Birmingham,AL,USA,33.407786,-86.761302
EnteGreat Solutions,,,,,Birmingham,AL,USA,33.518885,-86.816068

In [234]:
comp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16709 entries, AdventNet to EnteGreat Solutions
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   description   14914 non-null  object
 1   address1      16492 non-null  object
 2   address2      16306 non-null  object
 3   zip_code      16500 non-null  object
 4   city          16609 non-null  object
 5   state_code    10041 non-null  object
 6   country_code  16709 non-null  object
 7   latitude      10838 non-null  float64
 8   longitude     10838 non-null  float64
dtypes: float64(2), object(7)
memory usage: 1.3+ MB

In [236]:
data.drop(columns = ['_id','products','offices'], axis = 0, inplace = True)

In [239]:
data['company_name'] = data['name']

In [242]:
final = pd.merge(comp,data, on = 'company_name')

In [244]:
final  =final.set_index('company_name')

In [246]:
final.reset_index(inplace=True)

In [247]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18221 entries, 0 to 18220
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company_name         18221 non-null  object
 1   description          16418 non-null  object
 2   address1             18002 non-null  object
 3   address2             17816 non-null  object
 4   zip_code             18010 non-null  object
 5   city                 18121 non-null  object
 6   state_code           10947 non-null  object
 7   country_code         18221 non-null  object
 8   latitude             11798 non-null  float64
 9   longitude            11798 non-null  float64
 10  name                 18221 non-null  object
 11  category_code        17459 non-null  object
 12  number_of_employees  10625 non-null  float64
 13  total_money_raised   18221 non-null  object
dtypes: float64(3), object(11)
memory usage: 1.9+ MB

In [248]:
final.drop(columns = ['description','zip_code'], axis = 0, inplace = True)

In [250]:
final[10:20]

,company_name,address1,address2,city,state_code,country_code,latitude,longitude,name,category_code,number_of_employees,total_money_raised
10,Geni,9229 W. Sunset Blvd.,,West Hollywood,CA,USA,34.090368,-118.393064,Geni,web,18.0,$16.5M
11,Flektor,"8536 National Blvd, Suite A",None,Culver City,CA,USA,34.025958,-118.379768,Flektor,games_video,NaN,$0
12,Postini,"959 Skyway Road, Suite 200",None,San Carlos,CA,USA,37.506885,-122.247573,Postini,web,NaN,$0
13,Fox Interactive Media,407 N Maple Dr,,Beverly Hills,CA,USA,34.076179,-118.394170,Fox Interactive Media,web,0.0,$0
14,Gizmoz,None,None,Menlo Park,CA,USA,37.484130,-122.169472,Gizmoz,web,NaN,$18.1M
15,Scribd,539 Bryant Street,,San Francisco,CA,USA,37.789634,-122.404052,Scribd,news,50.0,$25.8M
16,Slacker,16935 W. Bernardo Dr. Suite 101,,San Diego,CA,USA,33.022176,-117.081406,Slacker,music,NaN,$73.1M
17,Lala,209 Hamilton Ave,Suite #200,Palo Alto,CA,USA,37.451151,-122.154369,Lala,games_video,NaN,$44.2M
18,StumbleUpon,,,San Francisco,CA,USA,37.775196,-122.419204,StumbleUpon,web,NaN,$18.5M
19,StumbleUpon,,,New York City,NY,USA,NaN,NaN,StumbleUpon,web,NaN,$18.5M

In [255]:
final[final['company_name']=='Google']

,company_name,address1,address2,city,state_code,country_code,latitude,longitude,name,category_code,number_of_employees,total_money_raised
158,Google,1600 Amphitheatre Parkway,,Mountain View,CA,USA,37.421972,-122.084143,Google,search,28000.0,$555M
159,Google,112 S. Main St.,2nd Floor,Ann Arbor,MI,USA,42.280988,-83.748882,Google,search,28000.0,$555M
160,Google,10 10th Street NE,Suite 600,Atlanta,GA,USA,33.781466,-84.387519,Google,search,28000.0,$555M
161,Google,Plaza 7000,"7000 North MoPac Expressway, 2nd Floor",Austin,TX,USA,30.351416,-97.751382,Google,search,28000.0,$555M
162,Google,2590 Pearl Street,Suite 100,Boulder,CO,USA,40.021416,-105.260931,Google,search,28000.0,$555M
...,...,...,...,...,...,...,...,...,...,...,...,...
220,Google,Blvd. Manuel Avila Camacho #36,"Torre Esmeralda 2, Piso 12, Lomas de Chapultepec",Mexico,None,MEX,19.507519,-99.030156,Google,search,28000.0,$555M
221,Google,"Building 30, MATAM, Advanced Technology Center",PO Box 15096,Haifa,None,ISR,NaN,NaN,Google,search,28000.0,$555M
222,Google,Levinstein Tower,23 Menachem Begin Road,Tel-Aviv,None,ISR,NaN,NaN,Google,search,28000.0,$555M
223,Google,Kanyon Ofis Binasi Kat. 6,Buyukdere Cad. No. 185,Istanbul,None,TUR,NaN,NaN,Google,search,28000.0,$555M
224,Google,"First Floor, Building No 17",Dubai Internet City,Dubai,None,ARE,NaN,NaN,Google,search,28000.0,$555M

In [256]:
final['category_code'].value_counts()

web                 3371
software            3309
mobile              1209
advertising         1137
games_video         1040
other               1013
enterprise           938
consulting           774
ecommerce            679
network_hosting      637
public_relations     573
hardware             484
search               419
biotech              375
cleantech            339
security             205
semiconductor        197
analytics            109
finance               72
social                68
news                  65
music                 51
messaging             47
legal                 47
education             45
photo_video           35
travel                35
health                34
medical               27
transportation        26
manufacturing         22
hospitality           16
sports                13
fashion               12
automotive            11
real_estate            9
design                 6
nanotech               5
nonprofit              3
local                  1
government             1
Name: category_code, dtype: int64

In [266]:
final.duplicated().value_counts()

False    15916
True      2305
dtype: int64

In [269]:
final.drop_duplicates(inplace = True)

In [270]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15916 entries, 0 to 18220
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company_name         15916 non-null  object
 1   address1             15700 non-null  object
 2   address2             15514 non-null  object
 3   city                 15816 non-null  object
 4   state_code           9572 non-null   object
 5   country_code         15916 non-null  object
 6   latitude             10349 non-null  float64
 7   longitude            10349 non-null  float64
 8   name                 15916 non-null  object
 9   category_code        15219 non-null  object
 10  number_of_employees  9097 non-null   float64
 11  total_money_raised   15916 non-null  object
dtypes: float64(3), object(9)
memory usage: 1.6+ MB

In [271]:
final.to_csv('companies_an.csv')