# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# enter your code here
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [8]:
# your code here
customers = orders.groupby('CustomerID')['amount_spent'].sum()

In [14]:
# your code here
customers.sort_values(ascending = False)

CustomerID
14646    280206.02
18102    259657.30
17450    194550.79
16446    168472.50
14911    143825.06
           ...
17956        12.75
16454         6.90
14792         6.20
16738         3.75
13256         0.00
Name: amount_spent, Length: 4339, dtype: float64

In [11]:
customer_q1 = customers.quantile(.25)
customer_q2 = customers.quantile(.50)
customer_q3 = customers.quantile(.75)

In [12]:
print(customer_q1, customer_q2, customer_q3)

307.24499999999995 674.4499999999998 1661.6400000000003

In [ ]:
#if amount spent is between q2,q3 customer is VIP
#if the amount spent is greater than q3 customer is Prefer
#if the amount spent is less q2 customer is common

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [16]:
# your code here
orders['cat'] = np.where((orders['amount_spent']>customer_q2)&(orders['amount_spent']<customer_q3),'VIP',np.where(orders['amount_spent']>customer_q3,'preferred','common'))

In [19]:
orders['cat'].unique()

array(['common', 'VIP', 'preferred'], dtype=object)

In [20]:
orders['cat'].value_counts()

common       397349
VIP             443
preferred       132
Name: cat, dtype: int64

In [28]:
df_orders = orders.groupby(['Country','cat'])['cat'].count().sort_values(ascending=False)

In [35]:
df_orders = df_orders.to_frame()

In [52]:
df_orders['cat'].count

<bound method Series.count of Country               cat
United Kingdom        common       353849
Germany               common         9040
France                common         8337
EIRE                  common         7216
Spain                 common         2479
Netherlands           common         2350
Belgium               common         2031
Switzerland           common         1842
Portugal              common         1460
Australia             common         1167
Norway                common         1071
Italy                 common          758
Channel Islands       common          748
Finland               common          685
Cyprus                common          614
Sweden                common          449
Austria               common          398
United Kingdom        VIP             380
Denmark               common          380
Poland                common          330
Japan                 common          318
Israel                common          248
Unspecified           common          244
Singapore             common          217
Iceland               common          182
USA                   common          179
Canada                common          151
Greece                common          145
United Kingdom        preferred       116
Malta                 common          112
United Arab Emirates  common           68
European Community    common           60
RSA                   common           58
Lebanon               common           45
Lithuania             common           35
Brazil                common           32
Czech Republic        common           25
EIRE                  VIP              18
Bahrain               common           17
Australia             VIP              17
Netherlands           VIP              11
Saudi Arabia          common            9
Spain                 VIP               6
EIRE                  preferred         4
Singapore             preferred         4
France                VIP               3
Japan                 preferred         3
France                preferred         2
Germany               VIP               2
Netherlands           preferred         2
Portugal              VIP               2
Sweden                VIP               2
Norway                VIP               1
Singapore             VIP               1
Australia             preferred         1
Name: cat, dtype: int64>