#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [4]:
import pandas as pd
import sqlalchemy as sql
import pymysql
pymysql.install_as_MySQLdb()

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [7]:
database_type = 'mysql'
host='relational.fit.cvut.cz' 
user= 'guest'
password = 'relational'
database = 'stats'
conn_string ='{}://{}:{}@{}/{}'.format(database_type,user,password,host,database)
sql_conn = sql.create_engine(conn_string)

#### 4. Import the users table

In [8]:
query_sql = '''select * from users'''
df_users = pd.read_sql(query_sql, sql_conn)

#### 5. Rename Id column to userId

In [10]:
df_users.head(2)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None

In [11]:
df_users = df_users.rename(columns={'Id': 'userId'})
df_users.head(2)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None

#### 6. Import the posts table.

In [12]:
query_sql2 = '''select * from posts'''
df_posts = pd.read_sql(query_sql2, sql_conn)

In [13]:
df_posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     91976 non-null  int64
 1   PostTypeId             91976 non-null  int64
 2   AcceptedAnswerId       14700 non-null  float64
 3   CreaionDate            91976 non-null  datetime64[ns]
 4   Score                  91976 non-null  int64
 5   ViewCount              42921 non-null  float64
 6   Body                   91756 non-null  object
 7   OwnerUserId            90584 non-null  float64
 8   LasActivityDate        91976 non-null  datetime64[ns]
 9   Title                  42921 non-null  object
 10  Tags                   42921 non-null  object
 11  AnswerCount            42921 non-null  float64
 12  CommentCount           91976 non-null  int64
 13  FavoriteCount          13246 non-null  float64
 14  LastEditorUserId       44611 non-null  float64
 15  LastEditDate           45038 non-null  datetime64[ns]
 16  CommunityOwnedDate     2467 non-null   datetime64[ns]
 17  ParentId               47755 non-null  float64
 18  ClosedDate             1610 non-null   datetime64[ns]
 19  OwnerDisplayName       2509 non-null   object
 20  LastEditorDisplayName  465 non-null    object
dtypes: datetime64[ns](5), float64(7), int64(4), object(5)
memory usage: 14.7+ MB

#### 7. Rename Id column to postId and OwnerUserId to userId

In [14]:
df_posts = df_posts.rename(columns={'Id': 'postId','OwnerUserId': 'userId'})
df_posts.head(2)

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [17]:
df_users2 = df_users[['userId','Reputation','Views', 'UpVotes','DownVotes']]
df_posts2 = df_posts[['postId', 'Score','userId','ViewCount','CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [20]:
df_users2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40325 entries, 0 to 40324
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   userId      40325 non-null  int64
 1   Reputation  40325 non-null  int64
 2   Views       40325 non-null  int64
 3   UpVotes     40325 non-null  int64
 4   DownVotes   40325 non-null  int64
dtypes: int64(5)
memory usage: 1.5 MB

In [21]:
df_posts2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   postId        91976 non-null  int64
 1   Score         91976 non-null  int64
 2   userId        90584 non-null  float64
 3   ViewCount     42921 non-null  float64
 4   CommentCount  91976 non-null  int64
dtypes: float64(2), int64(3)
memory usage: 3.5 MB

In [23]:
df_m = pd.merge(df_users2,df_posts2)
df_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        90584 non-null  int64
 1   Reputation    90584 non-null  int64
 2   Views         90584 non-null  int64
 3   UpVotes       90584 non-null  int64
 4   DownVotes     90584 non-null  int64
 5   postId        90584 non-null  int64
 6   Score         90584 non-null  int64
 7   ViewCount     42188 non-null  float64
 8   CommentCount  90584 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 6.9 MB

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [26]:
columnas = df_m.columns

In [29]:
print(columnas[0])

userId

In [32]:
for i in columnas:
    x = df_m[i].isna().sum()
    print(f'Columna: {i}, Nulos: {x}')

Columna: userId, Nulos: 0
Columna: Reputation, Nulos: 0
Columna: Views, Nulos: 0
Columna: UpVotes, Nulos: 0
Columna: DownVotes, Nulos: 0
Columna: postId, Nulos: 0
Columna: Score, Nulos: 0
Columna: ViewCount, Nulos: 48396
Columna: CommentCount, Nulos: 0

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [33]:
df_m['ViewCount'].fillna(df_m['ViewCount'].mean(),inplace = True)
df_m.info()
#if I remove all the nulls, I would lose more than half of the database.
# I prefer to fill them with ['ViewCount'].mean

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        90584 non-null  int64
 1   Reputation    90584 non-null  int64
 2   Views         90584 non-null  int64
 3   UpVotes       90584 non-null  int64
 4   DownVotes     90584 non-null  int64
 5   postId        90584 non-null  int64
 6   Score         90584 non-null  int64
 7   ViewCount     90584 non-null  float64
 8   CommentCount  90584 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 6.9 MB

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [34]:
df_m.dtypes

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

In [36]:
df_m.head(5)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,556.656158,0
1,-1,1,0,5007,1920,8576,0,556.656158,0
2,-1,1,0,5007,1920,8578,0,556.656158,0
3,-1,1,0,5007,1920,8981,0,556.656158,0
4,-1,1,0,5007,1920,8982,0,556.656158,0

In [37]:
df_m['ViewCount'] = df_m['ViewCount'].astype('int')
df_m.dtypes

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object

In [39]:
df_m.tail()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
90579,55734,1,0,0,0,115352,0,16,0
90580,55738,11,0,0,0,115360,2,40,4
90581,55742,6,0,0,0,115366,1,17,0
90582,55744,6,1,0,0,115370,1,13,2
90583,55746,106,1,0,0,115376,1,5,2

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.