In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
#impportamos los modulos a usar, podriamos agregar otros en el desarrollo

## This is a table of shark attack incidents compiled by the Global Shark Attack##

In [2]:
df = pd.read_csv('attacks.csv', encoding = 'latin-1')
#importamos el dataset

FileNotFoundError: [Errno 2] No such file or directory: 'attacks.csv'

In [211]:
df.info()
#usamos el info para un breve análisis visual de las columnas, 
#los tipos de datos y la cantidad de columnas que tiene el dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [212]:
df.head()
#usamos el head para observar que poseen las columnas

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

##Descripción de información de las columnas##

CaseNumber: Identificador
Date: Fecha del ataque
Year: Año del ataque
Type: tipo de ataque
Country: País del ataque
Area: zona del ataque
Location: locación específica del ataque
Activity: Actividad que realizaba la persona
Name: Nombre de la victima
Sex: género de la victima
injury: descripción de lesión
Fatal: si el ataque fue fatal (y/n)
Time: aproximado de la hora
Species: especies del tiburon
Investigatbor or Source: investigador o fuente del reporte
pdf: versión pdf del caso
href formula, link del caso
href 2 duplicado del link
Case number 1: duplicado de case number
case number2: duplicado de case number
Original order: identificador ?

In [213]:
df['Year'].isna().value_counts()

True     19423
False     6300
Name: Year, dtype: int64

In [214]:
df['Date'].isna().value_counts()

True     19421
False     6302
Name: Date, dtype: int64

## trabajando con 'year'##

In [215]:
df['Year'] = df['Year'].fillna(0)
df['Year'].isna().value_counts()
# convertimos los valores a cero

False    25723
Name: Year, dtype: int64

In [216]:
df['Year'] = df['Year'].astype('int') #pasamos los valores a enteros

In [217]:
#Interpolación, considerando que mis valores nulos son cero
inter = pd.Series(df['Year'])

In [30]:
inter = np.where(inter == 0,np.nan,inter) #cambiamos los 0 por nan de numpy

In [37]:
inter

array([2018., 2018., 2018., ...,   nan,   nan,   nan])

In [218]:
inter = pd.Series(inter)

In [219]:
inter.isna().value_counts()

False    25723
Name: Year, dtype: int64

In [43]:
inter.interpolate()

0        2018.0
1        2018.0
2        2018.0
3        2018.0
4        2018.0
          ...
25718       5.0
25719       5.0
25720       5.0
25721       5.0
25722       5.0
Length: 25723, dtype: float64

In [52]:
inter.value_counts()

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1753.0      1
1785.0      1
77.0        1
1580.0      1
1543.0      1
Length: 248, dtype: int64

In [64]:
inter2 = np.where(inter>1900,inter,np.nan)

In [65]:
inter2 = pd.Series(inter2)
inter2.isna().value_counts()

True     20174
False     5549
dtype: int64

In [66]:
inter2.min()

1901.0

In [220]:
for i in df.columns:
    print(i, df[i].isna().value_counts())

Case Number True     17021
False     8702
Name: Case Number, dtype: int64
Date True     19421
False     6302
Name: Date, dtype: int64
Year False    25723
Name: Year, dtype: int64
Type True     19425
False     6298
Name: Type, dtype: int64
Country True     19471
False     6252
Name: Country, dtype: int64
Area True     19876
False     5847
Name: Area, dtype: int64
Location True     19961
False     5762
Name: Location, dtype: int64
Activity True     19965
False     5758
Name: Activity, dtype: int64
Name True     19631
False     6092
Name: Name, dtype: int64
Sex  True     19986
False     5737
Name: Sex , dtype: int64
Age True     22252
False     3471
Name: Age, dtype: int64
Injury True     19449
False     6274
Name: Injury, dtype: int64
Fatal (Y/N) True     19960
False     5763
Name: Fatal (Y/N), dtype: int64
Time True     22775
False     2948
Name: Time, dtype: int64
Species  True     22259
False     3464
Name: Species , dtype: int64
Investigator or Source True     19438
False     6285
Name: Investigator or Source, dtype: int64
pdf True     19421
False     6302
Name: pdf, dtype: int64
href formula True     19422
False     6301
Name: href formula, dtype: int64
href True     19421
False     6302
Name: href, dtype: int64
Case Number.1 True     19421
False     6302
Name: Case Number.1, dtype: int64
Case Number.2 True     19421
False     6302
Name: Case Number.2, dtype: int64
original order True     19414
False     6309
Name: original order, dtype: int64
Unnamed: 22 True     25722
False        1
Name: Unnamed: 22, dtype: int64
Unnamed: 23 True     25721
False        2
Name: Unnamed: 23, dtype: int64

In [221]:
df2 = df.copy()#reemplazo

In [222]:
df = df.drop(range(6320,25720), axis = 0)

In [223]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6323 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6320 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6323 non-null   int64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(1), int64(1), object(22)
memory usage: 1.2+ MB

## empezamos a trabajar con una base de datos más reducida

In [80]:
df['Date'].isna().value_counts()

False    6302
True       21
Name: Date, dtype: int64

In [81]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [85]:

df['Date'][0].split('-')

['25', 'Jun', '2018']

In [87]:
import datetime

In [89]:
x = df['Date'][0]

In [90]:
x

'25-Jun-2018'

In [91]:
y = datetime.datetime.strptime(x,'%d-%b-%Y')

In [92]:
y

datetime.datetime(2018, 6, 25, 0, 0)

In [96]:
df.head(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN

In [101]:
lista = df['Species '].value_counts().index

In [104]:
print(lista[0:50])

Index(['White shark', 'Shark involvement prior to death was not confirmed',
       'Invalid', 'Shark involvement not confirmed', 'Tiger shark',
       'Shark involvement prior to death unconfirmed', 'Bull shark',
       '6' shark', '4' shark', '1.8 m [6'] shark', 'Questionable incident',
       'Questionable', '1.5 m [5'] shark', '1.2 m [4'] shark', '5' shark',
       '3' shark', '2 m shark', '4' to 5' shark', '3 m [10'] shark',
       'No shark involvement', 'Wobbegong shark', '3' to 4' shark',
       '3 m shark', '2.4 m [8'] shark', '3.7 m [12'] shark', '12' shark',
       'Blacktip shark', '1.2 m to 1.5 m [4' to 5'] shark', 'Blue shark',
       'Mako shark', '1.5 m shark', '7' shark',
       'Shark involvement prior to death not confirmed', '"a small shark"',
       '6 m [20'] white shark', 'Nurse shark', 'Bronze whaler shark',
       'Raggedtooth shark', '5 m [16.5'] white shark', '10' shark',
       'Grey nurse shark', 'Zambesi shark', '4 m [13'] white shark',
       'White shark, 4 m [13'] ', '1 m shark', 'a small shark',
       'Hammerhead shark', '2.1 m [7'] shark', '"small shark"',
       '3 m [10'] white shark'],
      dtype='object')

In [109]:
h = 'Nurse shark'
re.search('\shark-',h)

In [113]:
x = re.search("c", "abcdef") 
print(x)

<re.Match object; span=(2, 3), match='c'>

In [290]:
re.findall(patron,'xx White shark'.lower())

['xx white shark']

In [288]:
df['Species ']

0            White shark
1           Not reported
2           Not reported
3              2 m shark
4        Tiger shark, 3m
              ...
6318        Not reported
6319        Not reported
25720       Not reported
25721       Not reported
25722       Not reported
Name: Species , Length: 6323, dtype: object

In [282]:
patron = re.compile(r'\w+ \w+ shark\b')

In [159]:
t

'involvement Nurse  Questionable '

In [185]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6323 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6320 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6323 non-null   int64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(1), int64(1), object(22)
memory usage: 1.5+ MB

In [224]:
df = df.drop(['Case Number.1','Case Number.2','Unnamed: 22','Unnamed: 23',
             'href','href formula','pdf'], axis = 1)

In [225]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,original order
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",6303.0
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",6302.0
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",6301.0
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",6300.0
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,6299.0

In [226]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6323 entries, 0 to 25722
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6320 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6323 non-null   int64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  original order          6309 non-null   float64
dtypes: float64(1), int64(1), object(15)
memory usage: 889.2+ KB

In [234]:
df['Sex '].unique()

array(['F', 'M', 'other'], dtype=object)

In [230]:
df['Sex '] = df['Sex '].replace({'M ':'M','lli':'other','N':'other','.':'Other'})

In [232]:
df['Sex '] = df['Sex '].replace({'Other':'other'})

In [233]:
df['Sex '] = df['Sex '].fillna('other')

In [235]:
df3 = df.copy()#rezpaldo

In [236]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6323 entries, 0 to 25722
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6320 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6323 non-null   int64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     6323 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  original order          6309 non-null   float64
dtypes: float64(1), int64(1), object(15)
memory usage: 889.2+ KB

In [238]:
df['Type'] = df['Type'].fillna('Not reported')
df['Activity'] = df['Activity'].fillna('Not reported')
df['Name'] = df['Name'].fillna('Not reported')
df['Injury'] = df['Injury'].fillna('Not reported')
df['Species '] = df['Species '].fillna('Not reported')

In [239]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6323 entries, 0 to 25722
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6320 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6323 non-null   int64
 3   Type                    6323 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                6323 non-null   object
 8   Name                    6323 non-null   object
 9   Sex                     6323 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6323 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 6323 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  original order          6309 non-null   float64
dtypes: float64(1), int64(1), object(15)
memory usage: 889.2+ KB

In [243]:
df['Age'].unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2½', '13 or 14'], dtype=object)

In [244]:
df['Age'].value_counts()

17          154
18          150
19          142
20          141
15          139
           ...
20?           1
              1
25 or 28      1
60's          1
18 or 20      1
Name: Age, Length: 157, dtype: int64

In [277]:
help(test_patterns)

NameError: name 'test_patterns' is not defined

In [292]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6323 entries, 0 to 25722
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6320 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6323 non-null   int64
 3   Type                    6323 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                6323 non-null   object
 8   Name                    6323 non-null   object
 9   Sex                     6323 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6323 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 6323 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  original order          6309 non-null   float64
dtypes: float64(1), int64(1), object(15)
memory usage: 889.2+ KB

In [293]:
patron1 = re.compile(r'\w+ \w+ shark\b')
df['Species '] = df['Species '].apply(lambda x: re.findall(patron,x))

In [295]:
df4 = df3.copy()#rezpaldo

In [297]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6323 entries, 0 to 25722
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6320 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6323 non-null   int64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     6323 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  original order          6309 non-null   float64
dtypes: float64(1), int64(1), object(15)
memory usage: 889.2+ KB

In [308]:
df4['Species '] = df4['Species '].astype('str')

In [303]:
df3['Species '] = df3['Species '].apply(lambda x: re.findall(patron,x.lower()))

In [311]:
df6 = df5.copy()#rezpaldo

In [306]:
patron1 = re.compile(r'\w+ \w+ shark\b')

In [309]:
df4['Species '] = df4['Species '].apply(lambda x: re.findall(patron1,x.lower()))

In [314]:
df5['Species '] = df5['Species '].astype('str')

In [315]:
df5['Species '] = df5['Species '].apply(lambda x: x.lower())

In [316]:
df5['Species '] = df5['Species '].apply(lambda x: re.findall(patron,x))

In [318]:
df7 = df6.copy()

In [320]:
df6['Species '] = df6['Species '].astype('str')
df6['Species '] = df6['Species '].apply(lambda x: x.lower())
patron1 = re.compile(r'\.+ shark\b')
df6['Species '] = df6['Species '].apply(lambda x: re.findall(patron,x))

In [325]:
df6.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,original order
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,[],"R. Collier, GSAF",6303.0
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,[],"K.McMurray, TrackingSharks.com",6302.0
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,[],"K.McMurray, TrackingSharks.com",6301.0
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,[2 m shark],"B. Myatt, GSAF",6300.0
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,[],A .Kipper,6299.0

In [336]:
x = df7['Species '][0:30]
x = list(x)

In [338]:
x

['White shark',
 nan,
 nan,
 '2 m shark',
 'Tiger shark, 3m',
 nan,
 'Tiger shark',
 "Lemon shark, 3'",
 "Bull shark, 6'",
 nan,
 'Grey reef shark',
 nan,
 nan,
 'Invalid incident',
 'Tawny nurse shark, 2m',
 nan,
 'Shark involvement not confirmed',
 nan,
 'Tiger shark',
 nan,
 'Questionable',
 '3 m shark',
 'White shark, 3.5 m',
 'Tiger shark',
 'White shark, 2.5 m',
 "6' shark",
 'Juvenile bull shark',
 nan,
 nan,
 nan]

In [341]:
yre.findall(r'\w+ shark\b',x.split())

AttributeError: 'list' object has no attribute 'split'

In [ ]:
lista = 'Black White shark'

In [ ]:
patron1 = re.compile(r'\.+ shark\b')

In [352]:
df7['Species '].astype('str')

0            White shark
1                    nan
2                    nan
3              2 m shark
4        Tiger shark, 3m
              ...
6318                 nan
6319                 nan
25720                nan
25721                nan
25722                nan
Name: Species , Length: 6323, dtype: object

In [357]:
e = df7['Species '].astype('str').apply(lambda x: re.findall(r'\w+ \w+ shark\b',x))

In [359]:
e.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                          5728
[Bronze whaler shark]         56
[Grey nurse shark]            36
[5 m shark]                   33
[2 m shark]                   31
                            ...
[great hammerhead shark]       1
[small brown shark]            1
[grey colored shark]           1
[or bonnethed shark]           1
[of the shark]                 1
Name: Species , Length: 171, dtype: int64

In [354]:
df7['Species '].astype('str').apply(lambda x: x)

0            White shark
1                    nan
2                    nan
3              2 m shark
4        Tiger shark, 3m
              ...
6318                 nan
6319                 nan
25720                nan
25721                nan
25722                nan
Name: Species , Length: 6323, dtype: object

In [356]:
df7.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,original order
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",6303.0
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",6302.0
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",6301.0
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",6300.0
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,6299.0

In [360]:
df8 = df7.copy()

In [361]:
df7['Species '] = df7['Species '].fillna('Not reported')

In [362]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6323 entries, 0 to 25722
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6320 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6323 non-null   int64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     6323 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 6323 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  original order          6309 non-null   float64
dtypes: float64(1), int64(1), object(15)
memory usage: 1.2+ MB

In [367]:
df7['Species '].astype('str').apply(lambda x: re.findall(r'\w+ \w+ shark\b',x))

0                 []
1                 []
2                 []
3        [2 m shark]
4                 []
            ...
6318              []
6319              []
25720             []
25721             []
25722             []
Name: Species , Length: 6323, dtype: object

In [368]:
df8 = df7.copy()

In [369]:
df7['Species '] = df7['Species '].astype('str').apply(lambda x: re.findall(r'\w+ \w+ shark\b',x))

In [378]:
df7['Species '] = df7['Species '].apply(lambda x: ''.join(x))

In [381]:
df7['Species '] = df7['Species '].replace({'':'Undentify'})

In [401]:
'White shark' in df7['Species ']

False

In [400]:
df7['Species '].value_counts()

Undentify               5728
Bronze whaler shark       56
Grey nurse shark          36
5 m shark                 33
2 m shark                 31
                        ...
as carcharinid shark       1
been another shark         1
Not a shark                1
small sand shark           1
the same shark             1
Name: Species , Length: 171, dtype: int64

In [405]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6323 entries, 0 to 25722
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6320 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6323 non-null   int64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     6323 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 6323 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  original order          6309 non-null   float64
dtypes: float64(1), int64(1), object(15)
memory usage: 889.2+ KB

In [403]:
df9 = df8.copy()

In [ ]:
df7['Species '] = df7['Species '].astype('str').apply(lambda x: re.findall(r'\w+ \w+ shark\b',x))

In [394]:
dataframe_species = pd.DataFrame(df7['Species '].value_counts())

In [398]:
dataframe_species.index.value_counts()

1 m shark               1
small brown shark       1
300 kg shark            1
13 m shark              1
m white shark           1
                       ..
a white shark           1
or brown shark          1
8 m shark               1
but the shark           1
small blacktip shark    1
Length: 171, dtype: int64

In [406]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6323 entries, 0 to 25722
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6320 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6323 non-null   int64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     6323 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 6323 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  original order          6309 non-null   float64
dtypes: float64(1), int64(1), object(15)
memory usage: 889.2+ KB

In [407]:
df8['Species '] = df8['Species '].astype('str').apply(lambda x:x.lower()) 
df8['Species '] = df8['Species '].apply(lambda x: re.findall(r'\w+ \w+ shark\b',x))

0                 []
1                 []
2                 []
3        [2 m shark]
4                 []
            ...
6318              []
6319              []
25720             []
25721             []
25722             []
Name: Species , Length: 6323, dtype: object

In [409]:
df8['Species '] = df8['Species '].apply(lambda x: ''.join(x))
df8['Species '] = df8['Species '].replace({'':'Undentify'})

In [426]:
df8['Species '].unique()

array(['Undentify', '2 m shark', 'grey reef shark', 'tawny nurse shark',
       '3 m shark', 'juvenile bull shark', '5 m shark', '8 m shark',
       'juvenile white shark', 'not a shark', 'juvenile nurse shark',
       'juvenile blacktip shark', 'oceanic whitetip shark',
       'a small shark', 'caribbean reef shark',
       'broadnose sevengill shark', 'bronze whaler shark',
       'or spinner shark', 'small nurse shark', 'blacktip reef shark',
       '4 m shark', '1 m shark', '2 white shark', 'or blacktip shark',
       'juvenile tiger shark', '8 metre shark', 'tawney nurse shark',
       'm white shark', 'a bull shark', 'a white shark',
       'whitetip reef shark', 'small bull shark', 'grey nurse shark',
       'm bull shark', 'small reef shark', 'small blacktip shark',
       'kg blue shark', 'm tiger shark', 'port jackson shark',
       'small spinner shark', 'to 30kg shark', 'a blue shark',
       'juvenile hammerhead shark', 'bronze whale shark', '80 kg shark',
       'cookie cutter shark', '6 m shark', '5m white shark',
       'starry smoothhound shark', 'media as shark', 'a hammerhead shark',
       '27 m shark', 'gray reef shark', 'a spinner shark',
       'a tiger shark', 'a mako shark', 'or tiger shark', 'or bull shark',
       'to bull shark', 'a sandbar sharksmall blacktip shark',
       'the same shark', 'that a shark', 'old white shark',
       'small hammerhead shark', 'longfin mako shark', 'or brown shark',
       'm sandtiger shark', 'shortfin mako shark', 'm cow shark',
       'great hammerhead shark', 'small brown shark',
       'grey colored shark', 'a bull sharkor tiger shark',
       'or bonnethed shark', 'or sandbar shark', 'large white shark',
       '1 m sharkwhitetip reef shark', 'black finned shark',
       'dead blue shark', 'a zambesi shark', 'lb bull shark',
       '300 kg shark', '7 m shark', 'small dusky sharkor blackfin shark',
       'a blacktip shark', 'oceanic whitetip sharka white shark',
       'a sand shark', 'a young shark', 'small sand shark',
       'possiby white shark', 'm hammerhead shark', 'or lemon shark',
       'kg white shark', 'm grey shark', 'lb reef shark',
       'female white shark', 'm copper shark',
       'a white sharkauthorities believed shark', 'or sevengill shark',
       'm silky shark', 'small blue shark', 'tipped reef shark',
       'reported as shark', 'as a shark', 'shot white shark',
       'a tiger sharka hammerhead shark', 'lb thresher shark',
       'or dusky shark', '270 kg shark', 'juvenile dusky shark',
       '2 m sharkor blacktip shark', 'or thresher shark',
       'or sandtiger shark', 'pregnant sandbar shark',
       'believed white shark', 'lb zambesi shark',
       'grey reef sharkgrey reef shark', 'lb hooked shark',
       'female lemon shark', 'blacktail reef shark',
       'involve white shark', '20 kg shark', 'description of shark',
       'as carcharinid shark', 'large mako shark', 'or white shark',
       'been another shark', 'lb sand shark', 'or blue shark',
       'a little shark', 'a dusky shark', 'probable bull shark',
       'slim brown shark', 'of the shark', '13 m shark',
       'small carpet shark', 'a lemon shark', 'whtietip reef shark',
       'aka bonito shark', 'a large shark', 'large tiger shark',
       'blue nose shark', 'a dog shark', 'as carcharhinid shark',
       'very large shark', 'of captured shark', 'comrades saw shark',
       'possible white shark', 'remains from shark', '70 kg shark',
       'kg female shark', 'but the shark', 'or porbeagle shark',
       'recovered from shark', 'or mako shark', 'large hammerhead shark'],
      dtype=object)

In [414]:
'White shark' in df9['Species ']

False

In [416]:
df9.head(40)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,original order
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",6303.0
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,Not reported,"K.McMurray, TrackingSharks.com",6302.0
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,Not reported,"K.McMurray, TrackingSharks.com",6301.0
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",6300.0
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,6299.0
5,2018.06.03.b,03-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,NaN,"No injury, board bitten",N,NaN,Not reported,"Daily Telegraph, 6/4/2018",6298.0
6,2018.06.03.a,03-Jun-2018,2018,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",6297.0
7,2018.05.27,27-May-2018,2018,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",6296.0
8,2018.05.26.b,26-May-2018,2018,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,Lower left leg bitten,N,17h00,"Bull shark, 6'","K.McMurray, TrackingSharks.com",6295.0
9,2018.05.26.a,26-May-2018,2018,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,12,Minor injury to foot,N,14h00,Not reported,"K. McMurray, Tracking Sharks.com",6294.0
10,2018.05.24,24-May-2018,2018,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Minor bite to hand by captive shark. PROVOKED ...,N,Morning,Grey reef shark,"ABC.net.au ,05/24/2018",6293.0
11,2018.05.21,21-May-2018,2018,Unprovoked,USA,South Carolina,"Isle of Palms, Charleston County",Boogie boarding,Trey de Boer,M,10,Injuries to lower right leg and foot,N,NaN,Not reported,"C. Creswell, GSAF",6292.0
12,2018.05.13.b,13-May-2018,2018,Unprovoked,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,Jei Turrell,M,10,Severe bite to right forearm,N,15h00,Not reported,"C. Creswell, GSAF & K. McMurray TrackingSharks...",6291.0
13,2018.05.13.a,13-May-2018,2018,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,Injured by teeth of a dead porbeagle shark he ...,N,08h15,Invalid incident,"K. McMurray, TrackingSharks.com",6290.0
14,2018.05.00,May 2018,2018,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,Melisa Brunning,F,34,Shallow lacerations to finger PROVOKED INCIDENT,N,NaN,"Tawny nurse shark, 2m","Perth Now, 6/30/2018",6289.0
15,2018.05.12,12-May-2018,2018,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,male,M,NaN,"Minor injury, marks on board",N,11h00,Not reported,"B.Jacob, Dispatch Live, 5/12/2018",6288.0
16,2018.05.09,09-May-2018,2018,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,male,M,NaN,"No injury, surfboard damaged",N,10h30,Shark involvement not confirmed,"B. Myatt, GSAF",6287.0
17,2018.04.30.R,Reported 30-Apr-2018,2018,Unprovoked,THAILAND,Hua Hin,Sai Noi Beach,Swimming,female,M,NaN,Minor injury to ankle,N,NaN,Not reported,"K. McMurray, TrackingSharks.com",6286.0
18,2018.04.28.b,28-Apr-2018,2018,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,30,"No injury, shark bit scuba gear",N,10h40,Tiger shark,Costa Rica Star. 4/28/2018,6285.0
19,2018.04.28.a,28-Apr-2018,2018,Unprovoked,AUSTRALIA,Western Australia,Gearys Beach,Surfing,Adam Murray,M,NaN,"No injury, knocked off board by shark",N,16h50,Not reported,"B. Myatt, GSAF",6284.0
20,2018.04.25.b,25-Apr-2018,2018,Questionable,AUSTRALIA,New South Wales,Lennox Head,Surfing,Matthew Lee,M,NaN,No injury,N,07h00,Questionable,"B. Myatt, GSAF",6283.0
21,2018.04.25.a,25-Apr-2018,2018,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,"No injury, knocked off board by shark",N,09h30,3 m shark,"B.Myatt, GSAF",6282.0
22,2018.04.24,24-Apr-2018,2018,Unprovoked,AUSTRALIA,Western Australia,"South Point, Gracetown",Surfing,Nathan Burch,M,NaN,"No injury, shark struck his leg",N,Afternoon,"White shark, 3.5 m","B. Myatt, GSAF",6281.0
23,2018.04.23,23-Apr-2018,2018,Unprovoked,MALDIVES,Alifu Alifu Atoll,Madoogali,Fishing,Ahmed Rasheed,M,32,5-inch cut to hand,N,21h50,Tiger shark,"K. McMurray, TrackingSharks.com",6280.0
24,2018.04.22,22-Apr-2018,2018,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,33,"No injury, shark bit hole in ski",N,09h40,"White shark, 2.5 m","Africa News Agency, 4/22/2018",6279.0
25,2018.04.19,19-Apr-2018,2018,Unprovoked,USA,Hawaii,"Shipwrecks Beach, Keoneloa Bay, Kauai",Body boarding,Dylan McWilliams,M,29,Lacerations to right lower leg,N,NaN,6' shark,"The Garden Island, 4/19/2018",6278.0
26,2018.04.15.d,15-Apr-2018,2018,Unprovoked,THAILAND,Hua Hin,Sai Noi Beach,Swimming,Werner Danielsen,M,54,Lacerations to foot and ankle,N,NaN,Juvenile bull shark,"Straits Times, 4/16/2018",6277.0
27,2018.04.15.c,15-Apr-2018,2018,Unprovoked,BRAZIL,Pernambuco,Piedade,Swimming,Pablo de Melo,M,34,"Multiple severe injuries to arms and leg, leg ...",NaN,NaN,Not reported,"Globo, 4/16/2018",6276.0
28,2018.04.15.b,15-Apr-2018,2018,Unprovoked,AUSTRALIA,Western Australia,"Lefthanders, Margaret River Area",Surfing,Jason Longrass,M,41,Laceration to right thigh,N,NaN,Not reported,"B.Myatt, GSAF",6275.0
29,2018.04.15.a,15-Apr-2018,2018,Unprovoked,AUSTRALIA,Western Australia,"Cobblestones, Margaret River Area",Surfing,Alejandro Travaglini,M,37,Lacerations to legs,N,08h00,Not reported,"B.Myatt, GSAF",6274.0
30,2018.04.14,14-Apr-2018,2018,Unprovoked,BAHAMAS,New Providence,Nirvana Beach,Surfing,Bruce Rowan,M,NaN,No Injury. Shark swam away with the surf board,N,09h30,Tiger shark,"Tribune242,",6273.0
31,2018.04.10.R,Reported 10-Apr-2018,2018,Invalid,BRAZIL,Alagoas,"Praia de Sauaçuhy, Maceió",Fishing,Josias Paz,M,56,Injury to ankle from marine animal trapped in ...,N,NaN,Shark involvement not confirmed,"K. McMurray, TrackingSharks.com",6272.0
32,2018.04.09,09-Apr-2018,2018,Unprovoked,NEW CALEDONIA,NaN,"Magenta Beach, Noumea",Windsurfing,NaN,other,NaN,"No injury, shark bit board",N,17h00,2 m shark,"Les Nouvelles Caledoniennes, 4/10/2018",6271.0
33,2018.04.05,05-Apr-2018,2018,Unprovoked,BAHAMAS,NaN,Bimini,Swimming,Shane McConnell,M,12,"2 puncture wounds to left foot, abrasion to ri...",N,18h00,Bull shark,"K. McMurray, TrackingSharks.com",6270.0
34,2018.04.03,03-Apr-2018,2018,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,Ross Spowart,M,19,Lacerations to left knee & lower leg,N,15h00,White shark,"K. McMurray, TrackingSharks.com",6269.0
35,2018.03.31,31-Mar-2018,2018,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,Injuries to right leg & hand,N,09h30,"Tiger shark, 12'","Khon2, 3/31/2018",6268.0
36,2018.03.14,14-Mar-2018,2018,Unprovoked,AUSTRALIA,Western Australia,Waterman's Bay,Wading,Luke Guy & Finn Bald,M,10,Minor injuries to legs,N,17h35,Wobbegong shark,"B. Myatt, GSAF",6267.0
37,2018.03.09.b,9-Mar-2018,2018,Unprovoked,AUSTRALIA,Victoria,Lorne,Swimming,Rob Crossland,M,69,"No injury, said to have been charged by sharks...",N,15h30,3.5 m shark,"B. Myatt, GSAF",6266.0
38,2018.03.09.a,9-Mar-2018,2018,Unprovoked,AUSTRALIA,Victoria,Winkipop,Surfing,Lachie Brown,M,18,"Minor injury, ankle grazed",N,07h30,1.8 m shark,"B. Myatt, GSAF",6265.0
39,2018.02.24,24-Feb-2018,2018,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Scuba Diving,Elton Polly,M,38,The shark & man simply collided; neither were...,N,NaN,Blacktip shark,"International Business Times, 3/1/2018",6264.0

In [422]:
string = 'shot white shark'

In [431]:
df8['Species '].apply(lambda x: np.where(x,x,'white'))

0        white
1        white
2        white
3        white
4        white
         ...
6318     white
6319     white
25720    white
25721    white
25722    white
Name: Species , Length: 6323, dtype: object

In [435]:
'white' in x

False

In [ ]:
nuevo_df = df[['original order','Name', 'Sex', ]

In [439]:
df10 = df9.copy()

In [438]:
patrones = [r'.*?\bwhite\b\s+\bshark\b.*',r'.*?\bblue\b\s+\bshark\b.*', r'.*?\btiger\b\s.*',
           r'.*?\bbull\b\s.*',r'.*?\bshark\b\s+\binvolvement\b.*',r'.*?\bwobbegong\b\s+\bshark\b.*',
           r'.*?\bblacktip\b\s.*', r'.*?\bbronze\b\s+\bwhaler\b.*', r'.*?\bmako\b\s.*',r'.*?\bnurse\b\s.*',
           r'.*?\bhammerhead\b\s.*', r'.*?\braggedtooth\b\s.*']


cat_sharks = ['White shark', 'Blue shark', 'Tiger shark', 
         'Bull shark', 'Not a shark', 'Wobbegong shark',
         'Blacktip shark','Bronze whaler shark', 'Mako shark', 
         'Nurse shark', 'Hammerhead shark', 'Raggedtooth shark']

In [441]:
df9['Species '] = df9['Species '].str.lower().replace(patrones, cat_sharks, regex=True)

In [443]:
df9['Species '].value_counts()

not reported                         2859
White shark                           630
Not a shark                           330
Tiger shark                           264
Bull shark                            177
                                     ...
sandtiger shark, 3 m [10']              1
1.2 m to 1.5 m [4' to 5']   shark       1
blue or porbeagle shark                 1
3.5' to 4.5' shark                      1
2 m [6'9"] zambesi shark                1
Name: Species , Length: 675, dtype: int64

In [446]:
df9['Fatal (Y/N)'].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
N             1
2017          1
y             1
M             1
Name: Fatal (Y/N), dtype: int64

In [ ]:
nuevo_df = df[['original order','Name', 'Sex', ]

In [448]:
df9['Time'] = df['Time'].dropna()
df9['Time'] = df['Time'].astype('str')
df9['Time'] = df['Time'].str.extract('([0-9]+)', expand=False)

In [481]:
df9['Time'].astype('str')

0        18.0
1        14.0
2         7.0
3         nan
4         nan
         ...
6318      nan
6319      nan
25720     nan
25721     nan
25722     nan
Name: Time, Length: 6323, dtype: object

In [484]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6323 entries, 0 to 25722
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6320 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6323 non-null   int64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     6323 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2380 non-null   float64
 14  Species                 6323 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  original order          6309 non-null   float64
dtypes: float64(2), int64(1), object(14)
memory usage: 1.2+ MB

In [500]:
df9['Date'] = df9['Date'] +'-' +  str(df9['Time'])
df9['Date'] = df9['Date'].apply(lambda x: datetime.datetime.strptime(x,'%d-%b-%Y-%H.%M'))

In [503]:
df9['Date'].head()

0    25-Jun-2018-0        18.0\n1        14.0\n2   ...
1    18-Jun-2018-0        18.0\n1        14.0\n2   ...
2    09-Jun-2018-0        18.0\n1        14.0\n2   ...
3    08-Jun-2018-0        18.0\n1        14.0\n2   ...
4    04-Jun-2018-0        18.0\n1        14.0\n2   ...
Name: Date, dtype: object

In [3]:
df.iloc[:6309]

NameError: name 'df' is not defined