In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [172]:
df2 = pd.read_csv('attacks.csv', encoding = 'latin-1')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [17]:
df['Fatal (Y/N)'].value_counts() 
lista
dic = {' N': 'N','N ':'N', 'y':'Y', '2017':'UNKNOWN', 'N ':'N', 'M':'N'}

In [18]:
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].replace(dic)

In [19]:
df['Fatal (Y/N)'].value_counts()

N          4302
Y          1389
UNKNOWN      72
Name: Fatal (Y/N), dtype: int64

In [21]:
df['Time'] = df['Time'].str.extract('([0-9]+)', expand=False)

In [33]:
df['Time'].value_counts()

11      259
16      240
15      238
14      237
12      204
13      200
17      199
10      181
18      131
09      123
08       92
07       83
19       53
06       39
20       30
05       11
03       10
23        8
02        7
01        6
04        6
22        5
21        5
1600      2
2         2
00        1
30        1
0500      1
8         1
1300      1
9         1
0830      1
1500      1
2000      1
Name: Time, dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2380 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [35]:
df['Time'] = df['Time'].dropna()
df['Time'] = df['Time'].astype('str')

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    25723 non-null  object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [43]:
df['Time'] = df['Time'].fillna(0)

In [44]:
df['Time'].value_counts()

nan     23343
11        259
16        240
15        238
14        237
12        204
13        200
17        199
10        181
18        131
09        123
08         92
07         83
19         53
06         39
20         30
05         11
03         10
23          8
02          7
01          6
04          6
22          5
21          5
1600        2
2           2
00          1
30          1
0500        1
8           1
1300        1
9           1
0830        1
1500        1
2000        1
Name: Time, dtype: int64

In [50]:
df['Time'] = df['Time'].replace({'nan': 0})

In [54]:
df['Time'] = df['Time'].astype(str)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    25723 non-null  object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [59]:
df['Date'] = df['Date']+'-'+ df['Time']

In [64]:
import datetime

In [72]:
df['Date'].value_counts()

1957-0                    11
1942-0                     9
1956-0                     8
1958-0                     7
1941-0                     7
                          ..
25-May-1969-19             1
Reported 14-Mar-1914-0     1
Jun-1968-0                 1
26-Jun-2012-9              1
28-Aug-2012-15             1
Name: Date, Length: 5826, dtype: int64

In [83]:
df['Date'] = df['Date'].astype(str)

In [93]:
df['Month'] = df['Date'].apply(lambda x: ''.join(re.findall('\-[A-Za-z]{3}\-',x)).lower())

In [96]:
df['Month']=df['Month'].apply(lambda x: re.sub('-','',x))

In [108]:
df['Month']=df['Month'].replace({'marmar':'mar','novnov':'nov', 'sepsep':'sep','augaug': 'aug', 'janjan': 'jan' })

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    25723 non-null  object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    25723 non-null  object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
 24  Month                   5392 non-null   object
dtypes: float64(2), object(23)
memory usage: 4.9+ MB

In [70]:
help(re.sub)

Help on function sub in module re:

sub(pattern, repl, string, count=0, flags=0)
    Return the string obtained by replacing the leftmost
    non-overlapping occurrences of the pattern in string by the
    replacement repl.  repl can be either a string or a callable;
    if a string, backslash escapes in it are processed.  If it is
    a callable, it's passed the Match object and must return
    a replacement string to be used.

In [78]:
x =  df['Time'].str.extract('([0-9]+.)')

In [80]:
x.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    25723 non-null  object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    25723 non-null  float64
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
 24  Month                   5392 non-null   object
dtypes: float64(3), object(22)
memory usage: 4.9+ MB

In [125]:
df['Time'] = df['Time'].replace({np.nan:0})

In [131]:
df['Time'].value_counts()

0.0       23344
11.0        259
16.0        240
15.0        238
14.0        237
12.0        204
13.0        200
17.0        199
10.0        181
18.0        131
9.0         124
8.0          93
7.0          83
19.0         53
6.0          39
20.0         30
5.0          11
3.0          10
2.0           9
23.0          8
1.0           6
4.0           6
22.0          5
21.0          5
1600.0        2
2000.0        1
500.0         1
1300.0        1
1500.0        1
30.0          1
830.0         1
Name: Time, dtype: int64

In [134]:
df['Sex '] = df['Sex '].replace({'M ':'M','lli':'UNKNOW','N':'M','.':'UNKNOW'})

In [135]:
df['Sex '].value_counts()

M         5098
F          637
UNKNOW       2
Name: Sex , dtype: int64

In [136]:
df = df.drop(['Case Number.1','Case Number.2','Unnamed: 22','Unnamed: 23',
             'href','href formula','pdf'], axis = 1)

In [138]:
df.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,original order,Month
25718,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
25719,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
25720,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
25721,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
25722,xx,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [139]:
df = df.drop(range(6309,25720), axis = 0)

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6312 entries, 0 to 25722
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6309 non-null   object
 1   Date                    6312 non-null   object
 2   Year                    6312 non-null   object
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    6312 non-null   float64
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  original order          6309 non-null   float64
 17  Month                   5392 non-null   object
dtypes: float64(2), object(16)
memory usage: 936.9+ KB

In [168]:
 df['Year'][6309] = 'UNKNOW'

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [171]:
 df['Year'].astype(int)

ValueError: invalid literal for int() with base 10: 'UNKNOW'

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6312 entries, 0 to 25722
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6309 non-null   object
 1   Date                    6312 non-null   object
 2   Year                    6312 non-null   object
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    6312 non-null   float64
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  original order          6309 non-null   float64
 17  Month                   5392 non-null   object
dtypes: float64(2), object(16)
memory usage: 936.9+ KB

In [178]:
df['Year'] = df2['Year'].fillna(0)
df['Year'] = df['Year'].astype('int')

In [179]:
df['Year'].value_counts()

2015    143
0       137
2017    136
2016    130
2011    128
       ...
1742      1
1738      1
1638      1
5         1
1543      1
Name: Year, Length: 249, dtype: int64

In [180]:
inter = pd.Series(df['Year'])

In [181]:
inter = np.where(inter == 0,np.nan,inter)

In [182]:
inter = pd.Series(inter)
inter.isna().value_counts()

False    6175
True      137
dtype: int64

NameError: name 'drop' is not defined

In [188]:
inter = inter.interpolate()

In [184]:
inter.value_counts()

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1771.0      1
1791.0      1
1554.0      1
1823.0      1
1786.0      1
Length: 248, dtype: int64

In [189]:
df['Year'] = pd.Series(inter)

In [192]:
df['Year'] = df['Year'].replace({5.0:np.nan})

In [193]:
df['Year'].value_counts()

2015.0    143
2017.0    137
2016.0    130
2011.0    128
2014.0    127
         ...
1822.0      1
1753.0      1
1580.0      1
1785.0      1
1637.0      1
Name: Year, Length: 248, dtype: int64

In [194]:
df['Year'] = df['Year'].fillna('UNKNOW')

In [215]:
df['Year'].astype('str')

0       2018.0
1       2018.0
2       2018.0
3       2018.0
4       2018.0
         ...
6304    UNKNOW
6305    UNKNOW
6306    UNKNOW
6307    UNKNOW
6308    UNKNOW
Name: Year, Length: 6309, dtype: object

In [218]:
df['Month'].astype(str)

0       jun
1       jun
2       jun
3       jun
4       jun
       ...
6304    nan
6305    nan
6306    nan
6307    nan
6308    nan
Name: Month, Length: 6309, dtype: object

In [217]:
df['Date'] = df['Year'] +'-'+ df['Month']

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [220]:
df.loc[['Month','nan']]

KeyError: "None of [Index(['Month', 'nan'], dtype='object')] are in the [index]"

In [211]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6309 entries, 0 to 6308
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6308 non-null   object
 1   Date                    6309 non-null   object
 2   Year                    6309 non-null   object
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    6309 non-null   float64
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  original order          6309 non-null   float64
 17  Month                   5392 non-null   object
dtypes: float64(2), object(16)
memory usage: 936.5+ KB