## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [12]:
# Your code here
sample_list_1 = random.sample(range(0,100), k = 80)

print(sample_list_1)

[27, 98, 79, 80, 58, 25, 57, 11, 86, 43, 81, 64, 10, 29, 74, 85, 15, 93, 21, 67, 6, 97, 84, 63, 31, 75, 50, 2, 99, 32, 82, 13, 62, 26, 46, 4, 83, 24, 89, 87, 12, 96, 95, 68, 70, 8, 0, 88, 78, 20, 17, 19, 37, 54, 9, 33, 23, 22, 28, 59, 91, 72, 42, 66, 69, 36, 45, 48, 73, 92, 61, 60, 18, 38, 7, 90, 40, 3, 76, 56]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [13]:
# Your code here
set1 = set(sample_list_1)
len(set1) == 80

True

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [15]:
# Your code here
r = []
for i in range(0,101):
    r.append(i)

In [16]:
sample_list_2 = []
for i in range(0,80):
    sample_list_2.append(random.choice(r))
print(sample_list_2)

[71, 15, 75, 4, 98, 54, 23, 23, 7, 66, 75, 87, 23, 26, 90, 65, 90, 56, 62, 3, 65, 57, 42, 73, 72, 58, 54, 88, 70, 44, 53, 89, 98, 36, 59, 90, 93, 98, 46, 40, 73, 87, 42, 81, 35, 53, 68, 9, 40, 54, 27, 16, 53, 41, 88, 41, 11, 8, 83, 18, 34, 71, 90, 68, 41, 86, 80, 0, 56, 8, 5, 59, 32, 64, 81, 25, 89, 1, 52, 81]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [17]:
# Your code here
set2 = set(sample_list_2)
len(set2) == len(sample_list_2)

False

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [21]:
# Your code here
set3 =[]
for i in set1:
    if i not in set2:
        set3.append(i)
set3 = set(set3)
print(set3)

{2, 6, 10, 12, 13, 17, 19, 20, 21, 22, 24, 28, 29, 31, 33, 37, 38, 43, 45, 48, 50, 60, 61, 63, 67, 69, 74, 76, 78, 79, 82, 84, 85, 91, 92, 95, 96, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [23]:
# Your code here
set4 = []
for i in set2:
    if i not in set1:
        set4.append(i)
set4 = set(set4)
print(set4)

{1, 34, 35, 65, 5, 71, 41, 44, 16, 52, 53}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [24]:
# Your code here
set5 = []
for i in set1:
    if i not in set2:
        set5.append(i)
set5 = set(set5)
print(set5)

{2, 6, 10, 12, 13, 17, 19, 20, 21, 22, 24, 28, 29, 31, 33, 37, 38, 43, 45, 48, 50, 60, 61, 63, 67, 69, 74, 76, 78, 79, 82, 84, 85, 91, 92, 95, 96, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [37]:
# Your code here
x = len(set3) 
x

39

#### Create an empty set called `set6`.

In [34]:
# Your code here
set6 = set([])
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [38]:
# Your code here
set6.update(set3,set5)
print(set6)
len(set6)

{2, 6, 10, 12, 13, 17, 19, 20, 21, 22, 24, 28, 29, 31, 33, 37, 38, 43, 45, 48, 50, 60, 61, 63, 67, 69, 74, 76, 78, 79, 82, 84, 85, 91, 92, 95, 96, 97, 99}

39

#### Check if `set1` and `set6` are equal.

In [39]:
# Your code here
set1. == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [42]:
# Your code here
print(set1.issubset(set2), set1.issubset(set3))

False False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [44]:
# Your code here
len(set1.union(set2)) == len(set3.union(set4,set5))

False

#### Using the `pop` method, remove the first element from `set1`.

In [47]:
# Your code here
x = set1.pop()
x

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [52]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{2, 3, 4, 6, 7, 8, 10, 12, 13, 15, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 32, 33, 36, 37, 38, 40, 42, 43, 45, 46, 48, 50, 54, 56, 57, 58, 60, 62, 63, 64, 66, 67, 68, 70, 72, 73, 74, 75, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 95, 96, 97, 98}