In [447]:
import requests
import os
import lxml.html as html
import datetime
import pandas as pd
from bs4 import BeautifulSoup

In [321]:
import pandas as pd
import re

In [455]:
str(datetime.date.today())

'2020-11-01'

In [454]:
str(x)

'2020-11-01'

## EL UNIVERSAL

In [7]:
url = 'https://www.eluniversal.com.mx/'

In [12]:
links = '//div/p/a/@href'

In [8]:
response = requests.get(url)
response

In [529]:
def universal_data():
    try:
        url = 'https://www.eluniversal.com.mx/'
        response = requests.get(url)
        response
        home = response.content.decode('utf-8')
        parsed = html.fromstring(home)
        links = '//div/p/a/@href'
        links_universal = parsed.xpath(links)
        links2 = '//div/h2/a/@href'
        links_universal2 = parsed.xpath(links2)
        lista_universal = links_universal + links_universal2
        description = [i.replace('https://www.eluniversal.com.mx/','') for i in lista_universal]
        description = [i.split('/') for i in description]
    except:
        pass
    #para generar el dataframe
    x, y =lista_universal, description
    notices = pd.DataFrame(lista_universal, columns = ['links'])
    notices['description'] = y
    notices['category'] = notices['description'].apply(lambda x: x[0])
    index_drop =notices[notices['category']== 'https:'].index
    notices.drop(index = index_drop, axis = 0, inplace = True)
    notices['description'] =  notices['description'].apply(lambda x: x[1].replace('-',' '))
    #notices['date'] = df['links'].apply(lambda x: datetime.date.today())
    notices['source'] = notices['links'].apply(lambda x: 'Universal')
    notices.reset_index(inplace = True, drop = True)
    notices['date'] = df['links'].apply(lambda x: datetime.date.today())
    return notices

In [670]:
universal = universal_data()
universal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   links        41 non-null     object
 1   description  41 non-null     object
 2   category     41 non-null     object
 3   source       41 non-null     object
 4   date         41 non-null     object
dtypes: object(5)
memory usage: 1.7+ KB

In [672]:
df_universal = universal[['links','date', 'source', 'category', 'description']]

In [674]:
df_universal.head()
#primero de universal

,links,date,source,category,description
0,https://www.eluniversal.com.mx/nacion/bajo-res...,2020-11-01,Universal,nacion,bajo reserva expres 2020 el peor ano de yeidck...
1,https://www.eluniversal.com.mx/mundo/estados-u...,2020-11-01,Universal,mundo,estados unidos llega elecciones con fractura e...
2,https://www.eluniversal.com.mx/nacion/carta-de...,2020-11-01,Universal,nacion,carta de un cubrebocas mexicano
3,https://www.eluniversal.com.mx/opinion/mochila...,2020-11-01,Universal,opinion,mochilazo en el tiempo
4,https://www.eluniversal.com.mx/espectaculos/se...,2020-11-01,Universal,espectaculos,sean connery sufrio demencia senil en sus ulti...

In [507]:
def body_universal(link):
    try:
        cuerpo = '//div/p/text()'
        response = requests.get(link)
        home = response.content.decode('utf-8')
        parsed = html.fromstring(home)
        cuerpo = parsed.xpath(cuerpo)
        cuerpo = cuerpo[0:-2]
        cuerpo = [i.replace('\n','') for i  in cuerpo]
        cuerpo = ''.join(cuerpo)
        archivo = open(str(datetime.date.today()) + 'Universal','a',encoding='utf-8')
        archivo.write(cuerpo + '\n')
        archivo.close()
    except:
        print('algo salio mal', response)
    return print('archivo txt generado')

In [676]:
#df_universal['links'].apply(body_universal)

La primera funcion me generar un dataframe y la segunda un archivo txt con el body de las noticias

## Proceso

In [584]:
def proceso():
    url = 'https://www.proceso.com.mx/'
    response = requests.get(url)
    response
    home = response.content#.decode('utf-8')
    parsed = html.fromstring(home)
    links = '//div//article/div/a/@href'
    links_proceso1 = parsed.xpath(links)
    links_proceso2 = ['https://www.proceso.com.mx' +i  for i in links_proceso]
    proceso = pd.DataFrame(links_proceso2,columns = ['links'])
    proceso['date'] = proceso['links'].apply(lambda x: datetime.date.today())
    proceso['source'] = proceso['links'].apply(lambda x: 'Proceso')
    
    return  proceso

In [ ]:
def title_proceso(link):
    cuerpo = '//div//article//h1/text()'
    response = requests.get(link)
    home = response.content#.decode('utf-8')
    parsed = html.fromstring(home)
    cuerpo = parsed.xpath(cuerpo)
    return cuerpo

In [681]:
def data_proceso(data):
    data['title'] = data['links'].apply(lambda x:title_proceso(x))
    data['title'] = data['title'].apply(lambda x: x[0])
    data['category'] = data['links'].apply(lambda x: x.split('https://www.proceso.com.mx/'))
    data['category'] = data['category'].apply(lambda x:x[1].split('/')[0])
    return data

In [639]:
#body

In [660]:
def body_proceso(link):
    try:
        cuerpo = '//div/p/text()'
        response = requests.get(link)
        home = response.content#.decode('utf-8')
        parsed = html.fromstring(home)
        cuerpo = parsed.xpath(cuerpo)
        cuerpo = cuerpo[:-5]
        cuerpo = ''.join(cuerpo)
        archivo = open(str(datetime.date.today()) + 'Proceso','a',encoding='utf-8')
        archivo.write(cuerpo + '\n')
        archivo.close()
    except:
        print('algo salio mal', response)
    return print('archivo txt generado')

In [677]:
#1
data = proceso()
data.head()

                                               links        date   source
0  https://www.proceso.com.mx/reportajes/2020/11/...  2020-11-01  Proceso
1  https://www.proceso.com.mx/nacional/2020/11/1/...  2020-11-01  Proceso
2  https://www.proceso.com.mx/nacional/estados/20...  2020-11-01  Proceso
3  https://www.proceso.com.mx/nacional/cdmx/2020/...  2020-11-01  Proceso
4  https://www.proceso.com.mx/nacional/estados/20...  2020-11-01  Proceso

In [682]:
#2
proceso = data_proceso(data)
proceso.head()

In [688]:
proceso.columns = ['links', 'date', 'source', 'description', 'category']

Index(['links', 'date', 'source', 'title', 'category'], dtype='object')

In [686]:
df_proceso = proceso[['links', 'date', 'source', 'category', 'title']]

In [690]:
df_proceso.columns =  ['links', 'date', 'source', 'description', 'category']

In [696]:
#3 generando txt
#df_proceso['links'].apply(body_proceso)

In [702]:
#concatenando
frames = [df_proceso, df_universal]
noticias = pd.concat(frames)

In [704]:
noticias.head(3)

,links,date,source,description,category
0,https://www.proceso.com.mx/reportajes/2020/11/...,2020-11-01,Proceso,reportajes,"La CDMX, una ciudad desbordada"
1,https://www.proceso.com.mx/nacional/2020/11/1/...,2020-11-01,Proceso,nacional,"Pobreza, un sistema deficiente y covid-19 han ..."
2,https://www.proceso.com.mx/nacional/estados/20...,2020-11-01,Proceso,nacional,Hermano de AMLO va por cargo en elecciones de ...

In [705]:
noticias.to_csv('noticias_1-10-20.csv', sep = ',')

## SCRAP API

In [708]:
pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.9.0-py3-none-any.whl (107 kB)
     |████████████████████████████████| 107 kB 1.0 MB/s eta 0:00:01    |███████████████████████████▍    | 92 kB 954 kB/s eta 0:00:01
Requirement already satisfied: lxml in /opt/anaconda3/lib/python3.7/site-packages (from pandas_datareader) (4.5.0)
Requirement already satisfied: pandas>=0.23 in /opt/anaconda3/lib/python3.7/site-packages (from pandas_datareader) (1.0.1)
Requirement already satisfied: requests>=2.19.0 in /opt/anaconda3/lib/python3.7/site-packages (from pandas_datareader) (2.22.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->pandas_datareader) (1.18.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->pandas_datareader) (2019.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.19.0->pandas_datareader) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.19.0->pandas_datareader) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.19.0->pandas_datareader) (2.8)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.23->pandas_datareader) (1.14.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
from pandas_datareader import data as pdr

In [3]:
df = pdr.get_data_yahoo('AMZN', start = '2016-01-01', end = '2020-01-01')

In [5]:
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-01-04,657.719971,627.510010,656.289978,636.989990,9314500,636.989990
2016-01-05,646.909973,627.650024,646.859985,633.789978,5822600,633.789978
2016-01-06,639.789978,620.309998,622.000000,632.650024,5329200,632.650024
2016-01-07,630.000000,605.210022,621.799988,607.940002,7074900,607.940002
2016-01-08,624.140015,606.000000,619.659973,607.049988,5512900,607.049988

In [7]:
df_2 = pdr.get_data_yahoo_actions

In [8]:
df_2

In [20]:
from datetime import datetime

In [23]:
df= web.DataReader("AAPL", "av-daily", start=datetime(2017, 2, 9), end=datetime(2017, 5, 24),
api_key=('ALPHAVANTAGE_API_KEY'))

In [24]:
df

              open     high     low   close    volume
2017-02-09  131.65  132.445  131.12  132.42  28349859
2017-02-10  132.46  132.940  132.05  132.12  20065458
2017-02-13  133.08  133.820  132.75  133.29  23035421
2017-02-14  133.47  135.090  133.25  135.02  33226223
2017-02-15  135.52  136.270  134.62  135.51  35623100
...            ...      ...     ...     ...       ...
2017-05-18  151.27  153.340  151.13  152.54  33159664
2017-05-19  153.38  153.980  152.63  153.06  26733798
2017-05-22  154.00  154.580  152.91  153.99  22340069
2017-05-23  154.90  154.900  153.31  153.80  19430358
2017-05-24  153.84  154.170  152.67  153.34  19118319

[73 rows x 5 columns]

In [26]:
web.DataReader("USD/JPY", "av-forex",api_key=('ALPHAVANTAGE_API_KEY'))

                                 USD/JPY
From_Currency Code                   USD
From_Currency Name  United States Dollar
To_Currency Code                     JPY
To_Currency Name            Japanese Yen
Exchange Rate               104.72100000
Last Refreshed       2020-11-02 05:26:02
Time Zone                            UTC
Bid Price                   104.71958103
Ask Price                   104.72190060

In [27]:
web.DataReader(["USD/JPY", "BTC/CNY"], "av-forex",api_key=('ALPHAVANTAGE_API_KEY'))

                                 USD/JPY              BTC/CNY
From_Currency Code                   USD                  BTC
From_Currency Name  United States Dollar              Bitcoin
To_Currency Code                     JPY                  CNY
To_Currency Name            Japanese Yen         Chinese Yuan
Exchange Rate               104.73000000       91604.42822600
Last Refreshed       2020-11-02 05:29:01  2020-11-02 05:29:07
Time Zone                            UTC                  UTC
Bid Price                   104.72853902       91609.31068500
Ask Price                   104.73508988       91609.37756800

In [29]:
web.get_sector_performance_av(api_key=('ALPHAVANTAGE_API_KEY')).head()

,RT,1D,5D,1M,3M,YTD,1Y,3Y,5Y,10Y
Financials,0.27%,0.27%,-5.57%,0.18%,-2.56%,-22.55%,-17.36%,-10.90%,20.61%,102.27%
Energy,0.19%,0.19%,-5.71%,-4.92%,-24.11%,-52.50%,-50.49%,-56.59%,-56.52%,-51.01%
Health Care,-0.07%,-0.07%,-5.70%,-2.18%,-4.87%,-0.33%,8.80%,24.65%,42.76%,228.07%
Industrials,-0.09%,-0.09%,-6.52%,-1.74%,4.35%,-6.78%,-3.85%,4.70%,35.75%,130.74%
Materials,-0.15%,-0.15%,-4.29%,0.13%,2.57%,2.86%,7.60%,7.12%,39.82%,84.16%

In [30]:
from pandas_datareader.nasdaq_trader import get_nasdaq_symbols
symbols = get_nasdaq_symbols()
print(symbols.loc['IBM'])

Nasdaq Traded                                                    True
Security Name       International Business Machines Corporation Co...
Listing Exchange                                                    N
Market Category
ETF                                                             False
Round Lot Size                                                    100
Test Issue                                                      False
Financial Status                                                  NaN
CQS Symbol                                                        IBM
NASDAQ Symbol                                                     IBM
NextShares                                                      False
Name: IBM, dtype: object

In [31]:
df = pdr.get_data_yahoo('IBM')

In [33]:
df[1000:1200]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-10-24,135.070007,133.300003,134.830002,134.070007,2598500.0,127.727844
2019-10-25,135.929993,134.100006,134.119995,135.440002,2579100.0,129.033035
2019-10-28,136.630005,135.449997,136.000000,135.970001,3225700.0,129.537964
2019-10-29,135.570007,133.440002,135.419998,133.820007,4160700.0,127.489677
2019-10-30,135.279999,133.199997,133.830002,135.250000,2252700.0,128.852005
...,...,...,...,...,...,...
2020-08-04,125.860001,123.820000,123.820000,125.839996,3466100.0,124.213615
2020-08-05,126.750000,124.610001,126.730003,125.449997,3675400.0,123.828659
2020-08-06,126.260002,125.000000,125.000000,126.120003,3417100.0,124.490005
2020-08-07,125.070000,123.209999,123.500000,124.959999,3651000.0,124.959999
2020-08-10,127.239998,125.180000,125.419998,127.110001,3968300.0,127.110001

In [ ]:
df = pdr.get_data_yahoo('IBM')

In [34]:
amazon = pdr.get_data_yahoo('AMZN', start = '2016-01-01', end = '2020-01-01')

In [36]:
amazon.to_csv('amazon.csv', sep = ',')

## CSV